In [1]:
import pandas as pd
import os
import json
#Import the requests library.
import requests
import gmaps
# Import the datetime module from the datetime library.
from datetime import datetime
%matplotlib inline
# Dependencies and Setup
import scipy.stats as sts
import matplotlib.pyplot as plt
import matplotlib as mpl
import datetime as dt
from config import g_key
gmaps.configure(api_key=g_key)
!jupyter nbextension enable --py gmaps
!jupyter nbextension enable --py widgetsnbextension

Enabling notebook extension jupyter-gmaps/extension...
      - Validating: ok
Enabling notebook extension jupyter-js-widgets/extension...
      - Validating: ok

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_to_load = os.path.join(r"C:/Users/AYOOLA5/Desktop/University of Toronto\Analysis Projects/Pewlette-Hackard- Analysis/Queries/WeatherPy_Database.csv")
# Read the City and Ride Data
city_data_df = pd.read_csv(city_data_to_load)

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 70
What is the maximum temperature you would like for your trip? 90

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
clean_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
clean_df.head(10)

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date,current Description
1,1,Rikitea,-23.1203,-134.9692,73.85,80,5,9.01,PF,2021-08-07 15:05:53,clear sky
7,7,Hilo,19.7297,-155.0900,74.93,87,90,3.44,US,2021-08-07 15:05:02,light rain
9,9,Moroni,-11.7022,43.2551,76.10,72,42,6.80,KM,2021-08-07 15:05:55,light rain
11,11,Karratha,-20.7377,116.8463,71.56,65,96,6.51,AU,2021-08-07 15:05:56,light rain
12,12,Puerto Ayora,-0.7393,-90.3518,72.55,83,87,5.01,EC,2021-08-07 15:05:56,overcast clouds
16,16,Shimoda,34.6667,138.9500,84.31,89,100,19.30,JP,2021-08-07 15:05:58,moderate rain
17,17,Bonoua,5.2741,-3.5950,82.02,66,98,9.91,CI,2021-08-07 15:01:13,overcast clouds
18,18,Morros,-9.4467,-46.3003,86.90,30,1,13.15,BR,2021-08-07 15:05:58,clear sky
21,21,Nouakchott,18.0858,-15.9785,85.93,78,22,14.16,MR,2021-08-07 15:05:59,few clouds
29,29,Bousso,10.4795,16.7117,87.51,56,100,5.03,TD,2021-08-07 15:06:02,overcast clouds

In [5]:
clean_df

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date,current Description
1,1,Rikitea,-23.1203,-134.9692,73.85,80,5,9.01,PF,2021-08-07 15:05:53,clear sky
7,7,Hilo,19.7297,-155.0900,74.93,87,90,3.44,US,2021-08-07 15:05:02,light rain
9,9,Moroni,-11.7022,43.2551,76.10,72,42,6.80,KM,2021-08-07 15:05:55,light rain
11,11,Karratha,-20.7377,116.8463,71.56,65,96,6.51,AU,2021-08-07 15:05:56,light rain
12,12,Puerto Ayora,-0.7393,-90.3518,72.55,83,87,5.01,EC,2021-08-07 15:05:56,overcast clouds
...,...,...,...,...,...,...,...,...,...,...,...
683,683,Shuya,56.8487,41.3883,78.64,58,52,5.46,RU,2021-08-07 15:09:50,broken clouds
685,685,Karoi,-16.8099,29.6925,77.74,19,0,2.48,ZW,2021-08-07 15:09:51,clear sky
689,689,Darnah,32.7670,22.6367,82.74,66,0,21.16,LY,2021-08-07 15:09:52,clear sky
690,690,Fairfield,41.2668,-73.3162,84.33,63,1,10.36,US,2021-08-07 15:09:52,clear sky
693,693,Kuching,1.5500,110.3333,79.02,83,40,2.30,MY,2021-08-07 15:09:53,scattered clouds

In [6]:
# 4a. Determine if there are any empty rows.
clean_df.count()

City_ID                348
City                   348
Lat                    348
Lng                    348
Max Temp               348
Humidity               348
Cloudiness             348
Wind Speed             348
Country                347
Date                   348
current Description    348
dtype: int64

In [7]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df.isnull()

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date,current Description
1,False,False,False,False,False,False,False,False,False,False,False
7,False,False,False,False,False,False,False,False,False,False,False
9,False,False,False,False,False,False,False,False,False,False,False
11,False,False,False,False,False,False,False,False,False,False,False
12,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...
683,False,False,False,False,False,False,False,False,False,False,False
685,False,False,False,False,False,False,False,False,False,False,False
689,False,False,False,False,False,False,False,False,False,False,False
690,False,False,False,False,False,False,False,False,False,False,False
693,False,False,False,False,False,False,False,False,False,False,False

In [8]:
clean_df.isnull().sum()

City_ID                0
City                   0
Lat                    0
Lng                    0
Max Temp               0
Humidity               0
Cloudiness             0
Wind Speed             0
Country                1
Date                   0
current Description    0
dtype: int64

In [9]:
clean_df.dropna()

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date,current Description
1,1,Rikitea,-23.1203,-134.9692,73.85,80,5,9.01,PF,2021-08-07 15:05:53,clear sky
7,7,Hilo,19.7297,-155.0900,74.93,87,90,3.44,US,2021-08-07 15:05:02,light rain
9,9,Moroni,-11.7022,43.2551,76.10,72,42,6.80,KM,2021-08-07 15:05:55,light rain
11,11,Karratha,-20.7377,116.8463,71.56,65,96,6.51,AU,2021-08-07 15:05:56,light rain
12,12,Puerto Ayora,-0.7393,-90.3518,72.55,83,87,5.01,EC,2021-08-07 15:05:56,overcast clouds
...,...,...,...,...,...,...,...,...,...,...,...
683,683,Shuya,56.8487,41.3883,78.64,58,52,5.46,RU,2021-08-07 15:09:50,broken clouds
685,685,Karoi,-16.8099,29.6925,77.74,19,0,2.48,ZW,2021-08-07 15:09:51,clear sky
689,689,Darnah,32.7670,22.6367,82.74,66,0,21.16,LY,2021-08-07 15:09:52,clear sky
690,690,Fairfield,41.2668,-73.3162,84.33,63,1,10.36,US,2021-08-07 15:09:52,clear sky
693,693,Kuching,1.5500,110.3333,79.02,83,40,2.30,MY,2021-08-07 15:09:53,scattered clouds

In [10]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,current Description,Lat,Lng,Hotel Name
1,Rikitea,PF,73.85,clear sky,-23.1203,-134.9692,
7,Hilo,US,74.93,light rain,19.7297,-155.0900,
9,Moroni,KM,76.10,light rain,-11.7022,43.2551,
11,Karratha,AU,71.56,light rain,-20.7377,116.8463,
12,Puerto Ayora,EC,72.55,overcast clouds,-0.7393,-90.3518,
16,Shimoda,JP,84.31,moderate rain,34.6667,138.9500,
17,Bonoua,CI,82.02,overcast clouds,5.2741,-3.5950,
18,Morros,BR,86.90,clear sky,-9.4467,-46.3003,
21,Nouakchott,MR,85.93,few clouds,18.0858,-15.9785,
29,Bousso,TD,87.51,overcast clouds,10.4795,16.7117,

In [11]:
# Set the parameters to search for a hotel in Paris.
gmaps.configure(api_key = g_key)
params = {
    "radius": 5000,
    "types": "lodging",
    "key": g_key,}
# Use base URL to search for hotels in Paris.
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
# Make request and get the JSON data from the search.
hotels = requests.get(base_url, params=params).json()
#hotels

In [12]:
 #Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url,params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index,"Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [13]:
hotel_df

,City,Country,Max Temp,current Description,Lat,Lng,Hotel Name
1,Rikitea,PF,73.85,clear sky,-23.1203,-134.9692,People ThankYou
7,Hilo,US,74.93,light rain,19.7297,-155.0900,Hilo Hawaiian Hotel
9,Moroni,KM,76.10,light rain,-11.7022,43.2551,Hotel les Arcades
11,Karratha,AU,71.56,light rain,-20.7377,116.8463,ibis Styles Karratha
12,Puerto Ayora,EC,72.55,overcast clouds,-0.7393,-90.3518,Finch Bay Galapagos Hotel
...,...,...,...,...,...,...,...
683,Shuya,RU,78.64,broken clouds,56.8487,41.3883,Grand Hotel Shuya
685,Karoi,ZW,77.74,clear sky,-16.8099,29.6925,Chikangwe Guest houses
689,Darnah,LY,82.74,clear sky,32.7670,22.6367,فندق الفردوس
690,Fairfield,US,84.33,clear sky,41.2668,-73.3162,
693,Kuching,MY,79.02,scattered clouds,1.5500,110.3333,The Ranee Boutique Suites

In [14]:
# 7. Drop the rows where there is no Hotel Name.6.5.4
hotel_df.dropna()

,City,Country,Max Temp,current Description,Lat,Lng,Hotel Name
1,Rikitea,PF,73.85,clear sky,-23.1203,-134.9692,People ThankYou
7,Hilo,US,74.93,light rain,19.7297,-155.0900,Hilo Hawaiian Hotel
9,Moroni,KM,76.10,light rain,-11.7022,43.2551,Hotel les Arcades
11,Karratha,AU,71.56,light rain,-20.7377,116.8463,ibis Styles Karratha
12,Puerto Ayora,EC,72.55,overcast clouds,-0.7393,-90.3518,Finch Bay Galapagos Hotel
...,...,...,...,...,...,...,...
683,Shuya,RU,78.64,broken clouds,56.8487,41.3883,Grand Hotel Shuya
685,Karoi,ZW,77.74,clear sky,-16.8099,29.6925,Chikangwe Guest houses
689,Darnah,LY,82.74,clear sky,32.7670,22.6367,فندق الفردوس
690,Fairfield,US,84.33,clear sky,41.2668,-73.3162,
693,Kuching,MY,79.02,scattered clouds,1.5500,110.3333,The Ranee Boutique Suites

In [15]:
# 8a. Create the output File (CSV)
# Create the output file (CSV).
output_data_file = "C:/Users/AYOOLA5/Desktop/University of Toronto/Analysis Projects/Pewlette-Hackard- Analysis/Queries/hotel.csv"
# 8b. Export the City_Data into a csv
hotel_df.to_csv(output_data_file, index_label="City_ID")

In [16]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{current Description} and {Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = hotel_df[["Lat", "Lng"]]

In [17]:
# 11a. Add a marker layer for each city to the map. 
fig=gmaps.figure()
markers = gmaps.marker_layer(locations, info_box_content = hotel_info)
# 11b. Display the figure
fig.add_layer(markers)
fig

Figure(layout=FigureLayout(height='420px'))